@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


   <div class="grid-container">
        <div class="grid-item">
            <h1>Tips</h1>
                <div class="row">
                   
                 @{
                  	var randomRecipes = Umbraco.Content(Guid.Parse("495a8d7d-ad5f-4690-84ca-6bb5dea51433"))
                        .Descendants()
                        .Where(x => x.IsVisible() &&
                        (x.IsDocumentType("foodRecipe") ||
                        x.IsDocumentType("dessertRecipe")||
                        x.IsDocumentType("drinkRecipe")))
                        .OrderBy(t => Guid.NewGuid()).Take(3);
                    
                 }

                	@foreach (var randomRecipe in randomRecipes)
	                {
	         	      <div class="course-col">
                            <div class="img-col">
                                    	    
                    		    @{
                    		        var image = randomRecipe.Value<IPublishedContent>("quickViewImage");
                    		    }
                    		    <img class="img-rec" src="@image.Url()" />
                		
                             </div>
                           <a class="a-recipe" href="@randomRecipe.Url()">@randomRecipe.Name</a>
                        </div>
                     }             
                		    <div>
                		        
                		</div>
             
            </div>
        </div>
        
        <div class="grid-item hem">
            <div>
                <center><h1>@Model.Value("homeTitel")</h1></center>
                <center><h6>@Model.Value("homeslogan")</h6></center>
                <div class="hmcontent"><p >@Model.Value("homeMainContent")</p></div>
               
            
            </div>
        </div>

    </div>